.hero {
  height: 100dvh;

  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__brand-name {
    font-size: 6.4rem;
    font-weight: bold;
    letter-spacing: 1.5rem;

    color: var(--color-cyan);

    & span {
      color: var(--color-purple);
    }
  }

  &__text {
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;

    &--2{
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    & span {
      text-transform: capitalize;
      font-style: italic;
      color: var(--color-cyan);

      font-size: 2.4rem;
    }

    max-width: 40rem;
    width: 100%;
  }

  & button {
    margin-top: 2rem;
  }
}
